<% if(!isSession) { %>
     <section class="newsletter container">
          <h2>Have Question in mind? <br> Let us help you</h2>
          <form action="">
              <input type="email" name="" id="email-box" placeholder="email@gmail.com" required>
              <input type="submit" value="Send" class="btn">
          </form>
      </section>
<% } %>

 <section class="footer">
     <div class="footer-container container">
         <h2><i class='bx bx-home-alt'></i>PareHome</h2>
         <div class="footer-box">
             <h3>Quick Links</h3>
             <a href="#">Web Developers</a>
             <a href="#">Location</a>
         </div>
         <div class="footer-box">
             <h3>Locations</h3>
             <a href="#">Pasay</a>
             <a href="#">Manila</a>
             <a href="#">Makati</a>
         </div>
         <div class="footer-box">
             <h3>Contacts</h3>
             <a href="">+63 012 123 1234</a>
             <a href="">PareHome@gmail.com</a>
             <div class="social">
                 <a href=""><i class='bx bxl-facebook'></i></a>
                 <a href=""><i class='bx bxl-instagram'></i></a>
                 <a href=""><i class='bx bxl-google-plus'></i></a>
                 <a href=""><i class='bx bxl-twitter'></i></a>
             </div>
         </div>
     </div>
     
     <div class="copyright">
         <p>&#169; PareHome All Right Reserved</p>
     </div>
 </section>
</body>
</html>