<%- include('header') -%>
<!-- Home -->
<section class="home container" id="home">
    <div class="home-text">
        <h1>PareHome is a company <br> with values around <br> hospitality</h1>
        <br>
        <% if(!isSession) {%>
            <a href="/signup" class="btn" id="sign-up">Sign Up</a>
        <% } %>
    </div>
</section>

<!-- About -->
<section class="about container" id="about">
    <div class="about-img">
        <img src="../css/img/about.jpg" alt="">
    </div>
    <div class="about-text">
        <span>About Us</span>
        <h2>NPM Packages</h2>
        <ul class="list-inline">
            <li class="list-inline-item">bcrypt</li>
            <li class="list-inline-item">body-parser</li>
            <li class="list-inline-item">dotenv</li>
            <li class="list-inline-item">ejs</li>
            <li class="list-inline-item">express</li>
            <li class="list-inline-item">express-session</li>
            <li class="list-inline-item">mongoose</li>
            <li class="list-inline-item">multer</li>
            <li class="list-inline-item">nodemon</li>
            <li class="list-inline-item">path</li>
          </ul>
        <!-- <a href="#" class="btn">Learn More</a> -->
    </div>
</section>

<section class="sales container" id="sales">
    <!-- Box 1 -->
    <div class="box" onclick="location.href='/properties';" style="cursor: pointer;">
        <i class='bx bxs-user'></i>
        <h3>Find Accomodation</i></h3>
        <p>Providing the students to find the best accomodation near to their campus</p>
    </div>
    <!-- Box 2 -->
    <div class="box" onclick="location.href='/addListing';" style="cursor: pointer;">
        <i class='bx bx-desktop'></i>
        <h3>Become A Host</h3>
        <p>Learn from other local hosts across the country and get the support you need to keep improving in your career as a local host.</p>
    </div>
    <!-- Box 3 -->
    <div class="box" onclick="location.href='/properties';" style="cursor: pointer;">
        <i class='bx bx-home-heart'></i>
        <h3>Enjoy Your Accomodation</i></h3>
        <p>We provide the best accomodation with best price that cater best facility at fair price</p>
    </div>
</section>
<%- include('footer') -%>