<%- include('header') %>
<div class="login container">
    <div class="login-container">
        <h2>Login To Continue</h2>
        <p>Login in with your data you entered <br>during your registration</p>

        <!-- Login Form -->
        <form action="/login-submit" method="post">
            <span>Enter your username</span>
            <input type="text" name="username" id="" placeholder="username" required>
            <span>Enter your password</span>
            <input type="password" name="password" id="" placeholder="Password" required>
            <input type="submit" value="Log In" class="btn">
        </form>
        <a href="/signup" class="btn">Sign Up Now</a>
    </div>

    <div class="login-image">
        <img src="img/" alt="">
    </div>
</div>
<%- include('footer') %>

