<%- include ('header') %>
<div class="login container">
    <div class="login-container">
        <h2>Create an account</h2>
        <p>Already have an account <a href="/login">Log In</a></p>

        <!-- Login Form -->
        <form action="/signup_submit" method="post">
            <span>Enter your First Name</span>
            <input type="text" name="firstName" id="" placeholder="First Name" required>
            <span>Enter your Last Name</span>
            <input type="text" name="lastName" id="" placeholder="Last Name" required>
            <span>Enter your Phone</span>
            <input type="tel" name="phone_number" id="" placeholder="Phone Number" required>
            <span>Enter your email address</span>
            <input type="email" name="email" id="" placeholder="yourmail@gmail.com" required>
            <span>Enter your username</span>
            <input type="text" name="username" id="" placeholder="Username" required>
            <span>Enter your password</span>
            <input type="password" name="password" id="" placeholder="Password" required>
            <span>Confirm your password</span>
            <input type="password" name="" id="" placeholder="Confirm Password" required>
            <input type="submit" value="Sign up" class="btn">
            <a href="/login">Already have account</a>
        </form>
        <!-- <a href="sign-up.html" class="btn">Sign Up Now</a> -->
    </div>

    <div class="login-image">
        <img src="img/" alt="">
    </div>
</div>
<%- include('footer') %>

